@use 'colors';

.content{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30px 50px auto 100px;
  grid-template-areas:
  'bl' 
  'tt'
  'mn'
  'ft';
  min-height: 100vh;;
}

.block{
  grid-area: bl;
  display: grid;
  align-items: center;
  background-color: colors.$base-color;
}

.blockMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.blockLog{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;  
}

.blockSubmit{
  cursor: pointer;
  display: grid;
  justify-items: center;
  color: colors.$black;
  padding-left: 20px;
  padding-right: 20px;
}

.header{
  grid-area: hd;
  display: grid;
  align-items: center;
}

.title{
  grid-area: tt;
  background-color: colors.$dark-yellow;
  display: grid;
  align-items: center;
}

.main{
  grid-area: mn;
  display: flex;
  justify-content: center;
  align-items: self-start;
}

.footer{
  grid-area: ft;
  background-color: colors.$sand;
  padding: 20px;
}

.linkedin{
  width: 30px;
}

.homepage{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}