.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.submit{
  background-color: rgb(109, 109, 108);
  cursor: pointer;
  margin-top: 10px;
  display: grid;
  justify-items: center;
  color: white;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}