.MenuItem-item{
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin: 5px;
}

.MenuItem-title{
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 5px;
}

.submitClose{
  background-color: rgb(109, 109, 108);
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  height: 10px;
}