body{
  margin: 0;
  background-color: rgb(255, 255, 255);
}

p{
  margin: 0;
  padding: 0;
}

h3{
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}  